html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
  background: var(--dark-gray);
}

header {
  background: var(--dark-gray);
  background-size: cover;
  min-height: 100vh;
}

header nav {
  z-index: 100;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 6vh;
  -webkit-animation: nav-links 0.5s;
  animation: nav-links 0.5s;
}

header nav .logo {
  color: var(--text-color);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 50rem;
  max-width: 50%;
  min-width: 30%;
  z-index: 1000;
}

header nav .links li {
  list-style: none;
}

header nav .links a {
  color: var(--text-color);
  text-decoration: none;
  letter-spacing: 2px;
}

header nav .links .link::after {
  content: "";
  position: relative;
  display: block;
  width: 0;
  height: 4px;
  background: var(--dark-red);
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

header nav .links .link:hover::after {
  width: 100%;
}
